<link rel='stylesheet' href='/stylesheets/nav.css' />

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav nav-left">
      <li><a href="/">Home</a></li>
      <li><a href="/">About Me</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://www.facebook.com/henry.yu.980" target="_blank"><img class="social" src="/images/facebook.png"></a></li>
      <li><a href="https://github.com/henyu6" target="_blank"><img class="social" src="/images/github.png"></a></li>
    </ul>
  </div>
</nav>

<div class="header-spacer">
</div>
