<!DOCTYPE html>
<html>
  <% include ./partials/bootstrap %>
  <% include ./partials/nav %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body>
    <!-- section i: home -->
    <section id="home">
      <div class="jumbotron jumbotron-fluid special">
        <div class="container ">
          <h1 class="display-3">Henry Jian Ming Yu</h1>
          <p class="lead">Studying Computer Science (B.S.) at University of California, San Diego</p>
          <a href="#resume" class="btn btn-default btn-lg">Start</a>
        </div>
      </div>
    </section>
    <!-- section ii: resume -->
    <section id="resume">
      <div class="container">
        <h1>Resume</h1>
      </div>
    </section>
    <!-- section iii: about -->
    <section id="about">
    </section>
  </body>
</html>
