<!DOCTYPE html>
<html>
  <% include ./partials/bootstrap %>
  <% include ./partials/nav %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Henry Jian Ming Yu</h1>
        <p class="lead">Studying Computer Science (B.S.) at University of California, San Diego</p>
      </div>
    </div>
  </body>
</html>
