.social {
    width: 40px;
    height: 40px;
}

.navbar-brand, .nav > li > a {
    font-size: 20px;
    line-height: 40px;
}

.navbar {
    margin-bottom: 0px;
    display: block;
}
.navbar-collapse.in {
    overflow: hidden;
    max-height: none;
    height: auto;
}
/*
.header-spacer{
    margin-top: 70px;
}
*/
